<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMoney</title>
    <script src="https://kit.fontawesome.com/1f84b24a08.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Profile" asp-action="Index"><span style="font-size: 36px;"> <i class="far fa-money-bill-alt"></i> </span> </a>
                }
                else
                {
                    <a class="navbar-brand" asp-area="" asp-controller="Bank" asp-action="Index"><span style="font-size: 36px;"> <i class="far fa-money-bill-alt"></i> </span> </a>
                }
                <div class="login_group d-flex row ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {

                        <p class="mt-2">
                            <a class="mx-2 btn mb-0 btn-primary" asp-action="Index" asp-controller="Profile" asp-route-name="@User.Identity.Name">Кабинет</a>
                        </p>
                        <p class="mt-2">
                            <a class="mx-2 btn mb-0 btn-primary" asp-action="Index" asp-controller="Service">Оплата услуг</a>
                        </p>
                        <form class="mt-2" method="post" asp-controller="Account" asp-action="LogOff">
                            <input type="submit" class="ml-2 mb-0 btn btn-primary" value="Выход" />
                        </form>

                    }
                    else
                    {

                        <a class="mx-2 btn btn-primary" asp-controller="Account" asp-action="Login">Вход</a>
                        <a class="mx-2 btn btn-primary" asp-controller="Account" asp-action="Register">Регистрация</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - WebMoney - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
